/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for the layout */
.container {
    display: flex;
    height: 100vh;
    background-color: #ece5dd;
}

/* Sidebar Styling */
.sidebar {
    width: 30%;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    background-color: #25d366;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-input {
    flex: 1;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

/* Chat List Styling */
.chat-list {
    flex: 1;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}

.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info h3 {
    margin-bottom: 10px;
    color: black;
    
}

.chat-info p {
    color: #888;
}

/* Chat Window Styling */
.chat-window {
    
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #d1d0d0;
    color: #888;
}

.chat-header {
    background-color:#dcf8c6;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chat-header .chat-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.chat-info h3 {
    margin-bottom: 5px;
}

.chat-info p {
    color: #888;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message.received {
    background-color: #ffffff;
    align-self: flex-start;
}

.message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.message-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.send-button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #25d366;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #128C7E;
}
